name: Benchmarks

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  bench:
    name: bench
    runs-on: warp-ubuntu-latest-x64-8x
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: Install rust-toolchain.toml
        run: rustup toolchain install
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: Run benchmarks
        run: cargo bench
